@font-face {
  font-family: 'SF Compact';
  src: url(../fonts/SF-Compact-Display-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'SF Compact';
  src: url(../fonts/SF-Compact-Display-Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'SF Compact';
  src: url(../fonts/SF-Compact-Display-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'SF Compact';
  src: url(../fonts/SF-Compact-Display-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'SF Compact';
  src: url(../fonts/SF-Compact-Display-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Canela';
  src: url(../fonts/Canela-Regular.otf);
  font-weight: 400;
}
