/* Cover */
.top-cover {
    background: linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0)
        ),
        url("../img/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-section {
  height: 35vh;
}

.center {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -45%);
}

h2 {
  font-weight: 600;
  font-size: 4.25em;
  margin: 0 0;
}

h3 {
  font-weight: 400;
  font-size: 2.75em;
  margin: 0 0;
}

h4 {
  font-family: 'SF Compact';
  font-weight: 500;
  font-size: 1.75em;
}

a {
  color: white;
  text-decoration: none;
}

.flavors-content {
  padding: 0 10vw;
}

/* Grid */
.flavor-grid {
  display: grid;
}